node_modules
.next
out
build
.env
.env*.local
.DS_Store
*.pem
npm-debug.log*
.vercel
.neon
next-env.d.ts
tsconfig.tsbuildinfo
.env*

# O projeto e npm. Com yarn.lock presente a Vercel instala com Yarn.
yarn.lock
